---
const { name = "Jane Doe", role = "Graphic Designer", action = "Resume", special = "Action", special_link = "https://missingsite.onrender.com", special_icon = "fa-solid fa-headphones", special_icon_color = "bg-[#f00]", img } = Astro.props;
---

<section
  class="flex flex-col lg:flex-row items-center justify-center max-w-6xl mx-0 md:mx-auto md:justify-between pb-12"
  id="intro"
>
  <div class="flex flex-col justify-center">
    <div class="intro-text flex flex-col max-w-md mx-auto px-0 lg:px-12 text-center lg:text-left text-4xl font-light">
      <span class="hello-text text-2xl mb-4">Hello!</span>
      <span class="name-text"
        >I'm <i class="text-primary font-bold text-accent">{name},</i
        ></span
      >
      <span class="role-text">{role}</span>
      <p class="text-base text-gray-600 font-normal mt-4" style="font-family: 'Poppins', sans-serif;"><slot /></p>
      <!-- <span class="location-text">Based in India.</span> -->
    </div>
    <div
      class="flex flex-col md:flex-row lg:flex-col xl:flex-row justify-center items-center gap-4 mt-8"
    >
      <div class="block flex-row border-2 rounded-full w-[290px] p-2">
        <span>
          <a
            href="https://drive.google.com/file/d/1QZO7QR2Blzcn-blK5i2t49wbFVNLwEfn/view"
            class="items-center justify-stretch flex gap-2 w-full"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span
              class="w-full text-on-accent bg-secondary rounded-full font-extrabold uppercase h-[52px] flex items-center justify-center"
              >{action}</span
            >
            <i
              class="fa-solid fa-play text-white bg-black py-4 px-4.5 rounded-full" style="aspect-ratio:1.5;"
            ></i>
          </a>
        </span>
      </div>
      <div class="block flex-row border-2 rounded-full w-[290px] p-2">
        <span>
          <a
            href={special_link}
            class="items-center justify-stretch flex gap-2 w-full"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i
              class={`${special_icon} text-2xl ${special_icon_color} text-white py-3.5 px-4 rounded-full`}
            ></i><span
              class="w-full rounded-full font-extrabold uppercase h-[52px] flex items-center justify-center"
              >{special}</span
            >
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="intro-image mx-8">
    <img
      src={img}
      alt="Anurag Padhi"
      class="h-140 object-cover object-top rounded-full aspect-square"
    />
    <!-- <img src="./images/Anu_no_BG.png" alt="Anurag Padhi without background" class="absolute h-140 top-28"> -->
  </div>
</section>
