---
const {
  years,
  title,
  description,
  href,
  image = "https://placehold.co/200x200?font=raleway&text=Item\\nLogo",
  imgalt,
} = Astro.props;
---

<div
  class="flex flex-row border-l-6 pl-3 py-2 mb-2 border-slate-300 transition-all duration-300 hover:border-secondary hover:translate-x-2.5"
>
  <img
    src={image}
    alt={imgalt}
    class="aspect-square max-w-24 max-h-24 self-center mr-4 rounded-full"
  />
  <div class="flex flex-col">
    <span class="text-lg text-slate-500 font-light">{years}</span>
    <h4 class="text-3xl font-semibold"><a href={href}>{title}</a></h4>
    <p class="text-gray-500">{description}</p>
  </div>
</div>
